.card{
    width: 18rem;
    height: 250px;
    background-color: #363636;
    border-radius: 5px;
}

.card:hover{
    background-color: #878787;
}


.poster{
    padding-top: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 9rem;
    border-radius: 5px;
}

.card-txt{
    color: white;
    padding-left: 16px;
    margin-top: 5px;
    margin-bottom: 1px;
}

.card-foot{
    color: #878787;
    margin-top: 3px;
    padding-left: 16px;
    font-size: 12px;
}

.main-sec{
    height: 250px;
    display: flex;
    justify-content: space-around;
}

.container{
    height: 600px;
    width: 109rem;
    overflow-y: scroll;
    overflow-x: hidden;
}